<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="СУБД_Марафон.Properties.Settings.u37_1ConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=u37_1;Persist Security Info=True;User ID=u37_1;Password=fda2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>